{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main>
        <section class="details-container profile-details">
            <div class="img-details profile-img">
                <img alt="User Default Image" src="{% static 'images/user-default.jpg' %}">
            </div>

            <div class="info-container">
                <div class="details">
                    <h1>{{ user }}</h1>
                    {% if user.professional_artist %}
                        <h3><strong>Professional Artist</strong></h3>
                    {% endif %}
                    <p><strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                </div>
            </div>
            
        </section>
    </main>

{% endblock %}