{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main class="content-sidebar">
        <section class="profile-details">
                <div class="profile-wrap">
                    <div class="profile-banner">
                            <div class="banner">
                            {% if user.profile.banner %}
                                <img src="{{ user.profile.banner.url }}" alt="{{ user }}">
                            {% else %}
                                <img src="{% static 'images/default-banner.jpg' %}" alt="{{ user }}">
                            {% endif %}
                            </div>
                    </div>

                    <div class="profile-img">
                        {% if user.profile.avatar %}
                            <img src="{{ user.profile.avatar.url }}">
                        {% else %}
                            <img alt="User Default Image" src="{% static 'images/user-default.jpg' %}">
                        {% endif %}
                    </div>

                    <div class="profile-username">
                        <p>{{ user }}</p>
                        {% if user.profile.professional_artist %}
                            <p class="pro"><strong>PRO</strong></p>
                        {% endif %}
                    </div>

                    <div class="group-nav">
                        <div class="nav-container">
                            <ul class="nav-left">
                                <li><a href="#" onclick="showTab('gallery'); return false;">Gallery</a></li>
                                <li><a href="#" onclick="showTab('albums'); return false;">Albums</a></li>
                                <li><a href="#" onclick="showTab('groups'); return false;">Groups</a></li>
                                <li><a href="#" onclick="showTab('about'); return false;">About</a></li>
                            </ul>

                            <ul class="nav-right">
                                {% if request.user.pk == user.pk %}
                                    <li><a href="{% url 'edit-profile' user.pk %}" title="Edit Profile"><i class="fa-solid fa-pen-to-square"></i></a></li>
                                {% endif %}
                                {% if can_delete %}
                                    <li><a href="{% url 'delete-profile' user.pk %}" title="Delete Profile"><i class="fa-solid fa-trash-arrow-up"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="profile-info">

                    <div id="gallery" class="tab">
                        {% include "profile/tabs/profile-gallery.html" %}
                    </div>

                    <div id="albums" class="tab" style="display: none">
                        {% include 'profile/tabs/profile-albums.html' %}
                    </div>

                    <div id="about" class="tab" style="display: none">
                        {% include 'profile/tabs/profile-info.html' %}
                    </div>

                    <div id="groups" class="tab about-bg" style="display: none">
                        {% include 'profile/tabs/profile-groups.html' %}
                    </div>
                </div>
        </section>
    </main>
    <script src="{% static 'js/profiles/tabs.js' %}"></script>

{% endblock %}