SECRET_KEY=local_secret_key
DB_NAME=arthub_demo
DB_USER=demo_user
DB_PASS=demo123
DB_PORT=5432
DB_HOST=127.0.0.1
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=