{% if request.user.pk == user.pk %}
        <div class="create-album">
            <form method="post" action="{% url 'album-create' %}">
                {{ album_form }}
                {% csrf_token %}
                <button type="submit">Create</button>
            </form>
        </div>
{% endif %}

<div class="albums-list">
    {% for album in album_list %}
        <div class="album-card">

            {% if album.artworks.last %}
                <div class="album-bg" style="background-image: url('{{ album.artworks.last.image_url }}');"></div>
            {% else %}
                <div class="album-bg fallback">
                    <i class="fa-regular fa-image"></i>
                </div>
            {% endif %}

            <div class="album-info">
                <h3>{{ album.name }}</h3>
                <p>{{ album.artworks.count }} artworks</p>
            </div>

            <div class="album-overlay">
                <a href="{% url 'album-details' album.pk %}" class="btn" title="View"><i class="fa-solid fa-magnifying-glass"></i></a>
                {% if request.user.pk == user.pk %}
                <a href="{% url 'edit-album' album.pk %}" class="btn edit" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                <form method="post" action="{% url 'album-delete' album.pk %}">
                    {% csrf_token %}
                    <button class="btn edit" type="Submit"><i class="fa-solid fa-trash-arrow-up"></i></button>
                </form>
                {% endif %}
            </div>

        </div>
    {% endfor %}
</div>