<div class="profile-content">
    <div class="username">
        <p>{{ user }}</p>
        {% if user.profile.professional_artist %}
            <p class="pro">PRO</p>
        {% endif %}
    </div>
    <div class="name-email">
        <p><strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
        <p><strong>{{ user.email }}</strong></p>
    </div>

    <div class="profile-description">
        <h3>Description</h3>
        {% if user.profile.description %}
            <p>{{ user.profile.description }}</p>
        {% endif %}
    </div>

    <div class="group-admin">
        <h3>Group Admin</h3>
        <div class="albums-list">
            {% for group in group_list %}
                <div class="album-card">
                    {% if group.banner %}
                        <div class="album-bg" style="background-image: url('{{ group.banner.url }}');"></div>
                    {% else %}
                        <div class="album-bg fallback">
                            <i class="fa-regular fa-image"></i>
                        </div>
                    {% endif %}

                    <div class="album-info">
                        <h3>{{ group.name }}</h3>
                        <p>{{ group.members.count }} members</p>
                    </div>

                    <div class="album-overlay">
                        <a href="{% url 'group-details' group.slug %}" class="btn" title="View"><i class="fa-solid fa-magnifying-glass"></i></a>
                        {% if request.user.pk == group.owner.pk %}
                        <a href="{% url 'group-edit' group.slug %}" class="btn edit" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                        <form method="post" action="#">
                            {% csrf_token %}
                            <button class="btn edit" type="Submit"><i class="fa-solid fa-trash-arrow-up"></i></button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% empty %}
            {% endfor %}
        </div>
    </div>

    <div class="group-member">
        <h3>Group Member</h3>
        <div class="albums-list">
            {% for group in group_member %}
                <div class="album-card">
                    {% if group.banner %}
                        <div class="album-bg" style="background-image: url('{{ group.banner.url }}');"></div>
                    {% else %}
                        <div class="album-bg fallback">
                            <i class="fa-regular fa-image"></i>
                        </div>
                    {% endif %}

                    <div class="album-info">
                        <h3>{{ group.name }}</h3>
                        <p>{{ group.members.count }} members</p>
                    </div>

                    <div class="album-overlay">
                        <a href="{% url 'group-details' group.slug %}" class="btn" title="View"><i class="fa-solid fa-magnifying-glass"></i></a>
                        {% if request.user.pk == group.owner.pk %}
                        <a href="{% url 'group-edit' group.slug %}" class="btn edit" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                        <form method="post" action="#">
                            {% csrf_token %}
                            <button class="btn edit" type="Submit"><i class="fa-solid fa-trash-arrow-up"></i></button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% empty %}
            {% endfor %}
        </div>
    </div>
</div>
