{% load static %}

<h3>Group Owned</h3>
<div class="albums-list">
    {% for group in group_list %}
        <div class="album-card">

            {% if group.banner %}
                <div class="album-bg" style="background-image: url('{{ group.banner.url }}');"></div>
            {% else %}
                <div class="album-bg fallback">
                    <div class="group-banner no-banner" style="background-image: url('{% static 'images/default-banner.jpg' %}');"></div>
                </div>
            {% endif %}

            <div class="album-info">
                <h3>{{ group.name }}</h3>
                <p>{{ group.members.count }} members</p>
            </div>

            <div class="album-overlay">
                <a href="{% url 'group-details' group.slug %}" class="btn" title="View"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>
        {% empty %}
            {% if request.user == user %}
                <div class="empty">
                    <h3>Create your first group</h3>
                    <a href="{% url 'create-group' %}" class="btn-create">Create a Group</a>
                </div>
            {% else %}
               <div class="empty-text" style="padding-bottom: 1rem;">
                    <p>This user hasn't created any groups yet.</p>
               </div>
            {% endif %}
    {% endfor %}
</div>

<h3>Group Joined</h3>
<div class="albums-list">
    {% for group in group_member %}
        <div class="album-card">

            {% if group.banner %}
                <div class="album-bg" style="background-image: url('{{ group.banner.url }}');"></div>
            {% else %}
                <div class="album-bg fallback">
                    <i class="fa-regular fa-image"></i>
                </div>
            {% endif %}

            <div class="album-info">
                <h3>{{ group.name }}</h3>
                <p>{{ group.members.count }} members</p>
            </div>

            <div class="album-overlay">
                <a href="{% url 'group-details' group.slug %}" class="btn" title="View"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>
        {% empty %}
        <div class="empty-text">
            {% if request.user == user %}
                <p>You haven't joined any groups yet.</p>
                <a href="{% url 'groups-list' %}">Explore groups</a>
            {% else %}
                <p>This user hasn't joined any groups yet.</p>
            {% endif %}
        </div>
    {% endfor %}
</div>