.dashboard {
    display: grid;
}

.no-artworks {
    text-align: center;
    margin-bottom: 30rem;
    text-shadow: 1px 3px 0px rgb(59, 58, 58);
}

.no-artworks h1 {
    font-size: 50px;
}

.artworks-container {
    max-width: 1300px;
    margin: 60px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 30px;
}

.wrap-image {
    break-inside: avoid;
    position: relative;
}

.wrap-image a img {
    transition: filter 0.3s ease, transform 0.3s ease;
    display: block;
    min-width: 100%;
    height: 100%;
}

.artworks-container .wrap-image:nth-child(even) {
    grid-row: span 1;
}

.artworks-container .wrap-image:nth-child(odd) {
    grid-row: span 2;
}

.wrap-image a:hover img {
    filter: brightness(70%);
    transform: scale(1.05);
}

.wrap-image .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 10px;
}

.wrap-image a:hover .overlay {
    opacity: 1;
}

.art-image {
    width: 100%;
    object-fit: cover;
}
