.artwork-form,
.profile-form {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 1rem;
}

#edit-page,
#create-page,
#delete-page {
    width: 100%;
    max-width: 500px;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    box-sizing: initial;
}

#edit-page h1,
#create-page h1,
#delete-page h1 {
    margin-bottom: 2.5rem;
    font-size: 2.2rem;
    text-align: center;
}

#edit-page > div:not(.buttons),
#create-page > div:not(.buttons),
#delete-page > div:not(.buttons) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

label {
    font-size: 0.9rem;
    color: #bbb;
}

input,
textarea,
select,
fieldset {
    padding: 0.7rem 0.9rem;
    border-radius: 0.6rem;
    border: 1px solid #333;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 1rem;
}

.checkbox input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #525255;
}

.checkbox label {
    cursor: pointer;
    font-size: 0.95rem;
    color: #ccc;
}

textarea {
    min-height: 120px;
    resize: both;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #dbdbe6;
    box-shadow: 0 0 0 2px rgba(79,70,229,0.3);
}

#delete-page h4 {
    padding-bottom: 1rem;
    text-align: center;
}

.login-buttons {
   display: flex;
    flex-direction: column;
}

.login-buttons a {
    all: unset;
    cursor: pointer;
}

.login-buttons a:hover {
    color: #1f56b3;
    background-color: unset;
}

.profile-form .confirm-btn {
    padding-top: 1rem;
}

select option {
    background-color: #111111;
}

.album-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.album-container button {
    font-size: 17px;
}

.album-container .overlay button,
.album-overlay form button {
    border: none;
    cursor: pointer;
}
