{% extends 'base.html' %}
{% load static %}
{% load tag_filters %}
{% load permission_tags %}
{% block content %}

    <main class="content-sidebar">
        <section class="artwork-details">
            <div class="img-details">
                <img src="{{ artwork.image_url }}">
            </div>

            <div class="info-container">
                <div class="details">
                    <form method="post" action="{% url 'like' 'artwork' artwork.pk %}">
                        {% csrf_token %}
                        <span class="likes-count">{{ artwork.likes.count }}</span>
                        <button type="submit" class="like-btn {% if user_like %}liked{% endif %}">
                            <i class="fa-solid fa-heart" title="Like"></i>
                        </button>
                    </form>
                    <div class="flex-title">
                        <h1>{{ artwork.title|capfirst }}</h1>

                        {% can_do request.user artwork 'artworks.change_artwork' as can_edit_artwork %}
                        {% can_do request.user artwork 'artworks.delete_artwork' as can_delete_artwork %}

                        <div class="buttons">
                            {% if can_edit_artwork %}
                                <a href="{% url 'edit-artwork' artwork.pk %}" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                            {% endif %}
                            {% if can_delete_artwork %}
                                <a href="{% url 'delete-artwork' artwork.pk %}" title="Delete"><i class="fa-solid fa-trash-arrow-up"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <a href="{% url 'profile-details' artwork.user.pk %}"><strong>By {{ artwork.user }}</strong></a>
                    <p class="description"><strong>Description:</strong> {{ artwork.description }}</p>
                    <p><strong>Type:</strong> {{ artwork.type }}</p>
                    <p><strong>Published:</strong> {{ artwork.created_at }}</p>
                    {% with artwork.tags.all|tags_list as tags %}
                        {% if tags %}
                            <div class="buttons tags">
                                {% for tag_name in tags %}
                                    <a href="{% url 'gallery' %}?q={{ tag_name }}" class="tag">{{ tag_name }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>

                {% include 'comment/comment-details.html' with object=artwork model_type="artwork" %}

            </div>

        </section>
    </main>

{% endblock %}