{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="gallery-header content-sidebar">
        <h2>Gallery</h2>
    </div>

    <div class="tag-container-wrapper content-sidebar">
        <button class="scroll-btn left">&lt;</button>
        <div class="overflow" id="tag-container">
            {% for tag_name in tags %}
                <a href="{% url 'gallery' %}?q={{ tag_name }}" class="tag">{{ tag_name }}</a>
            {% endfor %}
        </div>
        <button class="scroll-btn right">&gt;</button>
    </div>

    <main class="dashboard content-sidebar">
        {% if not artwork_list %}
            <div class="no-artworks">
                {% if request.GET.q %}
                    <h2>No artworks match your search criteria.</h2>
                {% else %}
                    <h2>There are currently no artworks available.</h2>
                {% endif %}
            </div>
        {% else %}
            {% if request.GET.q %}
                <h3>Artworks matching...</h3>
            {% endif %}
                <section class="artworks-container" id="artworks-container">
                    {% include 'artwork/artwork_items.html' with artwork_list=artwork_list %}
                </section>

                {%  if page_obj.has_next %}
                    <div class="load-more-wrapper">
                        <button
                                id="load-more-btn"
                                class="load-more-btn"
                                data-page="{{ page_obj.next_page_number }}">
                            Load more
                        </button>
                    </div>
                {% endif %}
        {% endif %}
    </main>

    <script src="{% static 'js/tags/tag-scroll.js'%}"></script>
    <script src="{% static 'js/artworks/load-more.js' %}"></script>

{% endblock %}