{% extends 'base.html' %}
{% block content %}

    <main class="artwork-form content">
        <form method="post" enctype="multipart/form-data">
            <div id="create-page">
                <h1>{% if object %}Edit{% else %}Create{% endif %} Group</h1>
                {{ form }}
                {% csrf_token %}
                <div class="buttons">
                    <button class='form-button' type="submit">
                        {% if object %}Update{% else %}Create{% endif %} Group
                    </button>
                </div>
            </div>
        </form>
    </main>


{% endblock %}