{% load static %}

<table class="members-table">
    <thead>
        <tr>
            <th>User</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Professional</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for member in group_members.all %}
        <tr>
            <td class="user-cell">
                <a href="{% url 'profile-details' member.user.pk %}">
                    {% if member.user.profile.avatar %}
                        <img class="avatar" src="{{ member.user.profile.avatar.url }}">
                    {% else %}
                        <img class="avatar" src="{% static 'images/user-default.jpg' %}">
                    {% endif %}
                    {{ member.user.username }}
                </a>
            </td>

            <td>{{ member.user.first_name }} {{ member.user.last_name }}</td>
            <td>{{ member.user.email }}</td>

            <td>
                {% if member.user.profile.professional_artist %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>

            <td>{{ member.role }}</td>
            {% if request.user.pk == group.owner.pk and member.user.pk != group.owner.pk %}
            <td class="actions-cell">
                <div class="dropdown">
                    <i class="fa-solid fa-ellipsis-vertical dropdown-toggle"></i>

                    <div class="dropdown-menu-members">
                        <button
                                type="submit"
                                name="action"
                                value="change"
                                onclick="window.location.href='{% url 'change-member-role' group.slug member.pk %}'">
                            Change Role
                        </button>
                        <form
                                method="post"
                                class="member-remove-form"
                                action="{% url 'group-member-delete' group.slug member.pk %}">
                            {% csrf_token %}
                            <button type="button" class="member-remove-btn" name="action" value="remove">Remove</button>
                        </form>
                    </div>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

        <div id="member-remove-modal" class="modal" style="display: none">
            <div class="modal-content">
                <h2>Remove member</h2>
                <p>Are you sure you want to remove this member?</p>
                <button id="confirm-member-remove" class="btn btn-danger">Remove</button>
                <button id="cancel-member-remove" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </tbody>
</table>

<script src="{% static 'js/groups/group-member-remove-modal.js' %}"></script>
<script src="{% static 'js/groups/dropdown-members-list.js' %}"></script>