{% load static %}
<div class="profile-content post-list">
    <a href="{% url 'post-create' group.slug %}" class="btn-create" style="width: fit-content">Add New Post</a>
    {% for post in posts %}
        <div class="profile-description post-info">
             <a href="{% url 'profile-details' post.author.pk %}" class="post-container">
                {% if post.author.profile.avatar %}
                    <img src="{{ post.author.profile.avatar.url }}">
                {% else %}
                    <img src="{% static 'images/user-default.jpg' %}">
                {% endif %}
                <p>{{ post.author }}</p>
            </a>
            <p>{{ post.title }}</p>
            <p>{{ post.content|truncatechars:100 }}</p>
            <a href="{% url 'post-details' group.slug post.pk %}" class="post-details-btn">See Details..</a>
        </div>
    {% empty %}
        <div>
            <h3 style="margin-bottom: 1.5rem;">This group doesn’t have any posts yet. Be the first to share something!</h3>
        </div>
    {% endfor %}
</div>
