{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtHub</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <header class="navigation">
            <div class="logo">
                <a href="{% url 'home' %}">ArtHub</a>
            </div>

            <form action="{% url 'home' %}" method="get" class="search-form">
                <div class="search-bar">
                    <input type="search" name="q" placeholder="Search artworks by title or tag..." value="{{ request.GET.q }}">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>

            {% if request.user.is_authenticated %}
            <ul class="nav-links">
                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                <li><a href="{% url 'create-artwork' %}">Create Art</a></li>
                <li><a href="{% url 'create-group' %}">Create Group</a></li>
                <li class="dropdown"><a href="#">Profile</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'profile-details' request.user.pk %}">Details</a></li>
                    <li><a href="{% url 'edit-profile' request.user.pk %}">Edit</a></li>
                    <li><a href="{% url 'delete-profile' request.user.pk %}">Delete</a></li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="logout-btn">Log Out</button>
                        </form>
                    </li>
                </ul>
                </li>
            </ul>
            {% else %}
                <ul class="nav-links">
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                </ul>
            {% endif %}
        </header>
    </div>

    {% block content %}
    {% endblock %}

    <footer>
        <p>©2026 ArtHub Project. All rights reserved.</p>
    </footer>

</body>
</html>