{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtHub</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
    <aside class="sidebar collapsed">
        <ul>
            <li>
                <a class="menu-btn"><span class="icon" title="Menu"><i class="fa-solid fa-bars"></i></span> <span class="text">Menu</span></a>
            </li>
            <li>
                <a href="{% url 'home' %}"><span class="icon" title="Home"><i class="fa-regular fa-house"></i></span> <span class="text">Home</span></a>
            </li>
            <li>
                <a href="{% url 'gallery' %}"><span class="icon" title="Gallery"><i class="fa-solid fa-palette"></i></span> <span class="text">Gallery</span></a>
            </li>
            <li>
                <a href="{% url 'create-artwork' %}"><span class="icon" title="Add Artwork"><i class="fa-solid fa-paintbrush"></i></span> <span class="text">Add Artwork</span></a>
            </li>
            <li>
                <a href="{% url 'create-group' %}"><span class="icon" title="Create Group"><i class="fa-solid fa-plus"></i></span> <span class="text">Create Group</span></a>
            </li>
            <li>
                <a href="{% url 'groups-list' %}"><span class="icon" title="Browse Groups"><i class="fa-solid fa-people-group"></i></span> <span class="text">Browse Groups</span></a>
            </li>
        </ul>
    </aside>
    <header class="top-nav">
        <div class="logo-menu">
            <a href="{% url 'home' %}" class="logo">ArtHub</a>
        </div>

        <form action="{% url 'gallery' %}" method="get" class="search-form">
            <div class="search-bar">
                <input type="search" name="q" placeholder="Search artworks by title or tag..." value="{{ request.GET.q }}">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>

        {% if request.user.is_authenticated %}
        <ul class="nav-links">
            <li class="dropdown">
                <a><i class="fa-regular fa-bell"><span id="notification-count"></span></i></a>
                <ul class="dropdown-menu" style="display: none">

                </ul>
            </li>
            <li><a href="{% url 'profile-details' request.user.pk %}" title="Account"><i class="fa-regular fa-circle-user"></i></a></li>
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="logout-btn" title="Log out"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                </form>
            </li>
        </ul>
        {% else %}
            <ul class="nav-links">
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            </ul>
        {% endif %}
    </header>

    {% block content %}
    {% endblock %}

    <footer class="content">
        <p>©2026 ArtHub Project. All rights reserved.</p>
    </footer>

<script src="{% static 'js/common/notifications.js' %}"></script>
<script src="{% static 'js/common/sidebar.js'%}"></script>
</body>
</html>