{% extends 'base.html' %}
{% block content %}

    <main class="album-container content-sidebar">
        <h1>{{ album.name }}</h1>
        <section class="artworks-container">
            {% for artwork in album.artworks.all %}
                <div class="wrap-image">
                    <a href="{% url 'artwork-details' artwork.pk %}"><img class="art-image" src="{{ artwork.image_url }}">
                        <p class="overlay">More Info</p>
                    </a>
                </div>
            {% empty %}
                <div class="empty-text" style="text-align: center">
                    <h3>No artworks have been added to this album.</h3>
                </div>
            {% endfor %}
        </section>
    </main>


{% endblock %}